@import url(https://fonts.googleapis.com/css?family=Roboto:700,400);

body {
	background-color: #fff;
}

h1 {
	color: #303030;
	font-family: 'Roboto', sans-serif;
	font-size: 48pt;
	font-weight: normal;
	margin-left: 1em;
	margin-right: 1em;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 30pt;
	font-weight: normal;
	margin-left: 300px;
	margin-right: 300px;
}

h3 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 24pt;
	font-weight: 400;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	font-weight: normal;
	margin-left: 2em;
	margin-right: 2em;
}

#opener {
	color: #303030;
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	margin-left: 2em;
	margin-right: 2em;
}

#quote-container {
	background-color: #d7061b
}

#quote {
	color: #fff;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 20pt;
	line-height: 1.5em;
	padding-top: 30px;
	margin-left: 2em;
	margin-right: 2em;
}

#quote-author {
	color: #fff;
	font-family: Georgia, serif;
	font-size: 20pt;
	padding-bottom: 50px;
	margin-left: 2em;
	margin-right: 2em;
}

#section3 {
	background-color: #d7061b;
}

#subtitle1 {
	color: #303030;
	font-family: font-weight: 400;
	margin-left: 2em;
	margin-right: 2em;
}

#subtitle2 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	margin-left: 2em;
	margin-right: 2em;
}

#subtitle3 {
	color: #303030;
	font-family: 'Roboto', sans-serif;
	margin-left: 2em;
	margin-right: 2em;
}

#cloud{
	color: #fff;
}

#security{
	color: #fff;
}

#data{
	color: #fff;
}

#business{
	color: #fff;
}

#form {
	margin-left: 2em;
	margin-right: 2em;
}